
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Грешка</title>
</head>
<body>
    <div>  <h2>Въведен е грешен Уникален Регистрационен Номер! </h2>
    <h4>Следвай образеца</h4>
    </div>
</body>
</html>
