@{
    ViewBag.Title = "БББ";
}
<style>
    /*h1{
        text-align:center;
    }*/
    div.jumbotron {
        text-align: center;
    }
</style>


    <div class="jumbotron">

    <h1>БББ</h1>
    <p class="lead"> обл. БББ</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>


<div class="row">
    <div class="col-md-4 text-center">
        <h2>БББ- БББ</h2>
        <p>
           ...
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4 text-center">
        <h2>Доп. информация</h2>
        @*<p>ЗЗКИ</p>*@
        <p><a class="" href="~/Content/ZAKON_za_zashtita_na_klasificiranata_informaciq.rtf">ЗЗКИ &raquo;</a></p>
        <p><a class="" href="~/Content/PPZZKI.rtf">ППЗЗКИ &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Поддръжка</h2>
        <p>Системен администратор</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>