@model New.Models.GrifName

@{
    ViewBag.Title = "Delete";
}

@*<h2>Изтриване</h2>*@

<h3>Сигурен ли сте, че искате да изтриете това ниво на класификация?</h3>
<div>
    @*<h4>GrifName</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="danger">
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-info" /> |
            @Html.ActionLink("Обратно", "Index")
        </div>
    }
</div>
